.btn-registro{
    background-color: #96A5F5;
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 12px;
    width: 170px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}