@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

// Font:
$font-main: 'Open Sans', sans-serif
// Colors:
$color-main-dark: #1D1A5F
$color-main-normal: #6872B7
$color-main-light: #96A5F5
$color-neutral-black: #212529
$color-neutral-white: #fff
$color-neutral-700: #495057
$color-neutral-600: #6C757D
$color-neutral-500: #ADB5BD
$color-neutral-400: #CED4DA
$color-neutral-300: #DEE2E6
$color-neutral-200: #E9ECEF
$color-neutral-100: #F8F9FA
$color-background: #201F1F
