

.pageArticle{
   display: flex;
   justify-content: center;
}

.fechaArticle{
    color: #F14A16;
    font-size: 16px;
    padding-top: 20vh;
    margin-top: 10vh;
}

.parrafo{
    margin-top: 10vh;
    padding: 10vh;
}

.redes{
    margin-left: 10vh;
}

.share{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    
}

